root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,ts,yml}]
indent_style = space
indent_size = 2

[dist/**]
indent_style = unset
indent_size = unset
end_of_line = unset
charset = unset
trim_trailing_whitespace = false
insert_final_newline = false
